/* General */
table{
  margin-left:auto; 
  margin-right:auto;
  table-layout: auto;
  border-collapse: collapse;
  }

th, td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

caption {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

div {
  text-align: center;
}

h2 {
  font-size: 30px;
}

iframe {
  min-height: 1000px;
  width: 100%;
  display: block;
  border:none;
}

button {
  background-color: #0429a0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Home page */

.divider-space {
  height:100px;
  width:100%
}

#ntu-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 20vw;
}

/* Refer from https://www.w3schools.com/howto/howto_js_topnav.asp */
#home-navigation {
  background-color: rgb(17, 59, 136);
  overflow: hidden;
}

#home-navigation a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

#home-navigation a:hover {
  background-color: rgb(131, 10, 10);
  color: rgb(255, 255, 255);
}

/* Profile page */

.links, .links-hyper{
  white-space: pre-wrap;
}

.navigation {
  font-size: 20px;
  text-align: center;
}

#profile-navigation:link {
  display:inline-block;
  list-style:none;
  line-height: 10px;
}

.faculty-img {
  border: 5px solid #555;
  border-image: linear-gradient(#0012b1, #db5252) 30;
}

.float-container {
  padding: 20px;
}

.side-by-side-info {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Summary */

.right {
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
}

.explanation {
  margin-top: 100px;
  padding-top: 50%;
  font-size: 20px;
}

.form-inline {
  margin-top:100px;
}

.input-group-addon {
  font-size: 20px;
}
