{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
    <table id="table faculty-list">
      <caption>
        List of faculty members
      </caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for member, link in faculty_list%}
        <tr>
          <td><a href={{ link }}>{{ member['name'] }}</a></td>
          <td>{{ member['email'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{% endblock %}