{% extends "base.html" %}

{% block content %}
    <p class="navigation"> Quick navigation <span>&#128640;</span></p>
    <ul class="navigation" id="profile-navigation">
        <a href="#biography">Biography</a>
        <a href="#interests">Interests</a>
        <a href="#grants">Grants</a>
        <a href="#pub">Publications</a>
        <a href="#citesperyear-graph">Statistics</a>
    </ul>
    
    <div class="profile-details">
        <h1>{{ faculty.name }}</h1>
        <img class="faculty-img" src={{ faculty.urlpicture }} alt="Image of faculty member"/>
    </div>

    <div class="faculty-links">
        <h2 id= "header-links"><u>Useful Links:</u></h2>
        <a href={{ faculty.drntu }}><p>DR NTU</p></a>
        <a href={{ faculty.dblp }}><p>DBLP</p></a>
    </div>

    <div id="biography">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Biography</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                {{ (faculty.biography) | wordwrap(48)}}
                </p>
            </div>
        </div>
    </div>

    <div id="interests">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Interests</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <ul>
                        {% for interest in faculty.interests %}
                            <li>{{ interest }}</li>
                        {% endfor %}
                        </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="grants">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Current grants</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <ul>
                        {% for grant in faculty.grants %}
                            <li>{{ grant }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="pub">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Publications</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <table class="table faculty-publications">
                        <thead>
                        <tr>
                            <th>Publication name</th>
                            <th>Year of publish</th>
                            <th>No. citations</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pub in faculty.publications %}
                            <tr>
                            <td>{{ pub[0] }}</td>
                            <td>{{ pub[1] }}</td>
                            <td>{{ pub[2] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>

    <div id="citesperyear-graph">
        <div class="float-container">
            <div class="side-by-side-info">
                <h2 class="heading">Graph of citations per year</h2>
            </div>
            <div class="side-by-side-info">
                <p class="info">
                    <iframe style="width: 100%;border:3px solid black; " src="{{ url_for('profile_bp.show_citeframe') }}" height="800" id="cites-graph"></iframe>
                    <!--iframe tag-->
                  
                    <script>
                        // Selecting the iframe element
                        var frame = document.getElementById("cites-graph");
                        
                        // Adjusting the iframe height onload event
                        frame.onload = function()
                        // function execute while load the iframe
                        {
                        // set the height of the iframe as 
                        // the height of the iframe content
                        frame.style.height = 
                        frame.contentWindow.document.body.scrollHeight + 'px';
                        
                
                        // set the width of the iframe as the 
                        // width of the iframe content
                        frame.style.width  = 
                        frame.contentWindow.document.body.scrollWidth+'px';
                            
                        }
                        function scrollTo() {
                            selectElement = document.querySelector('#navi');
                            output = selectElement.value;
                            document.getElementById(output).scrollIntoView();
                        }
                        </script>
                </p>
            </div>
        </div>
    </div>

{% endblock %}