{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('search_bp.search') }}" method="POST">
    {{ form.csrf_token }}
    

    <p>
        {{ form.select.label }}
        {{ form.select() }}
    </p>


    <p>
        {{ form.search.label }}
        {{ form.search() }}
    </p>

    <p>
        {{ form.submit() }}
    </p>
</form>
<span>Showing {{ fc|length }} results</span>
<h2>
    You searched in {{ form.select.data }} for {{ form.search.data }}
</h2>
<table id="table search-results">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for f in fc %}
      <tr>
        <td>{{ loop.index0 + 1 }}</td>
        <td><a href={{ f.link }}>{{ f.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}