{% extends "base.html" %}
<!--iframe tag-->
{% block content %}
<div id="cites-graph">
    <h2>Cites per year graph</h2>
    <iframe src="{{ url_for('summary_bp.show_totalcites') }}" height="800" id="graphs"></iframe>
</div>
<div id="interest-graph">
    <h2>Interests of faculty</h2>
    <iframe src="{{ url_for('summary_bp.show_totalinterests') }}" height="800" id="graphs"></iframe>
</div>
<div id="network-graph">
    <h2>Network graph</h2>
    <iframe src="{{ url_for('summary_bp.show_network') }}" height="800" id="graphs"></iframe>
    
</div>
<div id="scatter-graph">
    <h2>Bubble chart</h2>
    <iframe src="{{ url_for('summary_bp.show_scatter') }}" height="800" id="graphs" align="left"></iframe>
    <iframe src="{{ url_for('summary_bp.show_scatter_q') }}" height="800" id="graphs" align="right"></iframe>
    <body>
        Above graph shows the number of publications vs citations each member of the faculty has. The area of the bubble represents the number of grants the faculty has. 
    </body>
</div>
<!-- referred from https://stackoverflow.com/a/32020159-->
<form class="form-inline" method="GET" action="{{ url_for('summary_bp.recommend_me') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Please select your interest</span>
              <select name="interest_select" class="selectpicker form-control">
                {% for i in faculty_list.interests %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
  </form>
{% endblock %}
